<!DOCTYPE html>
<html data-ng-app="checklistApp" lang="en">
<head>
    <meta charset="utf-8" />
    <title>Checklist Manager</title>
    <meta name="viewport" content="width=1024px, initial-scale=1.0">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body data-ng-cloak="">
    <div id="userSettings">
        @Html.Partial("_UserSettings")
    </div>

    <div id="body">
        @RenderBody()
    </div>

    <footer class="navbar navbar-fixed-bottom"> 
        <div class="container">
            <p class="navbar-text pull-left">&copy; @DateTime.Now.Year - Checklist Manager</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/checklistManager")
    @Scripts.Render("~/bundles/checklistManager-no-min")
    @RenderSection("scripts", required: false)
</body>
</html>